<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>[01]</string>
		<key>image</key>
		<string>01.png</string>
		<key>title</key>
		<string>害羞</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[02]</string>
		<key>image</key>
		<string>02.png</string>
		<key>title</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[03]</string>
		<key>image</key>
		<string>03.png</string>
		<key>title</key>
		<string>呵呵</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[04]</string>
		<key>image</key>
		<string>04.png</string>
		<key>title</key>
		<string>花心</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[05]</string>
		<key>image</key>
		<string>05.png</string>
		<key>title</key>
		<string>嘻嘻</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[06]</string>
		<key>image</key>
		<string>06.png</string>
		<key>title</key>
		<string>亲亲</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[07]</string>
		<key>image</key>
		<string>07.png</string>
		<key>title</key>
		<string>噢耶</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[08]</string>
		<key>image</key>
		<string>08.png</string>
		<key>title</key>
		<string>懒得理你</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[09]</string>
		<key>image</key>
		<string>09.png</string>
		<key>title</key>
		<string>抱抱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[010]</string>
		<key>image</key>
		<string>010.png</string>
		<key>title</key>
		<string>鄙视</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[011]</string>
		<key>image</key>
		<string>011.png</string>
		<key>title</key>
		<string>汗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[012]</string>
		<key>image</key>
		<string>012.png</string>
		<key>title</key>
		<string>晕</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[013]</string>
		<key>image</key>
		<string>013.png</string>
		<key>title</key>
		<string>泪</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[014]</string>
		<key>image</key>
		<string>014.png</string>
		<key>title</key>
		<string>悲伤</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[015]</string>
		<key>image</key>
		<string>015.png</string>
		<key>title</key>
		<string>闭嘴</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[016]</string>
		<key>image</key>
		<string>016.png</string>
		<key>title</key>
		<string>吃惊</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[017]</string>
		<key>image</key>
		<string>017.png</string>
		<key>title</key>
		<string>酷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[018]</string>
		<key>image</key>
		<string>018.png</string>
		<key>title</key>
		<string>哈哈</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[019]</string>
		<key>image</key>
		<string>019.png</string>
		<key>title</key>
		<string>困</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[020]</string>
		<key>image</key>
		<string>020.png</string>
		<key>title</key>
		<string>花</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[021]</string>
		<key>image</key>
		<string>021.png</string>
		<key>title</key>
		<string>伤心</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[022]</string>
		<key>image</key>
		<string>022.png</string>
		<key>title</key>
		<string>邮件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[023]</string>
		<key>image</key>
		<string>023.png</string>
		<key>title</key>
		<string>电话</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[024]</string>
		<key>image</key>
		<string>024.png</string>
		<key>title</key>
		<string>干杯</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[025]</string>
		<key>image</key>
		<string>025.png</string>
		<key>title</key>
		<string>调谢</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[026]</string>
		<key>image</key>
		<string>026.png</string>
		<key>title</key>
		<string>握手</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[027]</string>
		<key>image</key>
		<string>027.png</string>
		<key>title</key>
		<string>good</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[028]</string>
		<key>image</key>
		<string>028.png</string>
		<key>title</key>
		<string>唱歌</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[029]</string>
		<key>image</key>
		<string>029.png</string>
		<key>title</key>
		<string>得意</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[030]</string>
		<key>image</key>
		<string>030.png</string>
		<key>title</key>
		<string>疑问</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[031]</string>
		<key>image</key>
		<string>031.png</string>
		<key>title</key>
		<string>便便</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[032]</string>
		<key>image</key>
		<string>032.png</string>
		<key>title</key>
		<string>呆</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[033]</string>
		<key>image</key>
		<string>033.png</string>
		<key>title</key>
		<string>河蟹</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[034]</string>
		<key>image</key>
		<string>034.png</string>
		<key>title</key>
		<string>囧</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[035]</string>
		<key>image</key>
		<string>035.png</string>
		<key>title</key>
		<string>咖啡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[036]</string>
		<key>image</key>
		<string>036.png</string>
		<key>title</key>
		<string>礼花</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[037]</string>
		<key>image</key>
		<string>037.png</string>
		<key>title</key>
		<string>礼物</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[038]</string>
		<key>image</key>
		<string>038.png</string>
		<key>title</key>
		<string>篮球</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[039]</string>
		<key>image</key>
		<string>039.png</string>
		<key>title</key>
		<string>骷髅</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[040]</string>
		<key>image</key>
		<string>040.png</string>
		<key>title</key>
		<string>闪电</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[041]</string>
		<key>image</key>
		<string>041.png</string>
		<key>title</key>
		<string>弱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[042]</string>
		<key>image</key>
		<string>042.png</string>
		<key>title</key>
		<string>怒</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[043]</string>
		<key>image</key>
		<string>043.png</string>
		<key>title</key>
		<string>衰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[044]</string>
		<key>image</key>
		<string>044.png</string>
		<key>title</key>
		<string>失望</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[045]</string>
		<key>image</key>
		<string>045.png</string>
		<key>title</key>
		<string>生病</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[046]</string>
		<key>image</key>
		<string>046.png</string>
		<key>title</key>
		<string>睡觉</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[047]</string>
		<key>image</key>
		<string>047.png</string>
		<key>title</key>
		<string>太阳</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[048]</string>
		<key>image</key>
		<string>048.png</string>
		<key>title</key>
		<string>下雨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[049]</string>
		<key>image</key>
		<string>049.png</string>
		<key>title</key>
		<string>心</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[050]</string>
		<key>image</key>
		<string>050.png</string>
		<key>title</key>
		<string>星</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[051]</string>
		<key>image</key>
		<string>051.png</string>
		<key>title</key>
		<string>药</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[052]</string>
		<key>image</key>
		<string>052.png</string>
		<key>title</key>
		<string>月亮</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[053]</string>
		<key>image</key>
		<string>053.png</string>
		<key>title</key>
		<string>钟</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[054]</string>
		<key>image</key>
		<string>054.png</string>
		<key>title</key>
		<string>抓狂</string>
	</dict>
	<dict>
		<key>code</key>
		<string>[055]</string>
		<key>image</key>
		<string>055.png</string>
		<key>title</key>
		<string>足球</string>
	</dict>
</array>
</plist>
